<h1>Search for a Person</h1>

<input (keyup)="onSearchBoxKeyupEvent.next($event.target.value)" class="mt-1" placeholder="Type a name"/>
<div *ngIf="loading" class="spinner-border spinner-border-sm ml-2" role="status">
  <span class="sr-only">Loading...</span>
</div>

<table class='table table-striped mt-4'>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Address</th>
      <th>Age</th>
      <th>Interests</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people">
      <td><img height="100" width="100" [src]="person.pictureUrl" alt="Picture of {{ person.firstName }} {{ person.lastName }}"/></td>
      <td>{{ person.firstName }} {{ person.lastName }}</td>
      <td>
        {{ person.address.street }}
        <br/>
        {{ person.address.city }}, {{ person.address.state }} {{ person.address.zipCode }}
      </td>
      <td>{{ person.age }}</td>
      <td>{{ person.interests }}</td>
    </tr>
  </tbody>
</table>

<p *ngIf="!people || people.length === 0">Nothing to show</p>
